:root {
  --brand-color: #2196f3;
  --font-color-one: #212121;
  --font-color-two: #757575;
  --font-color-three: rgba(255, 255, 255, 0.6);
  --background-color-one: #2f303a;
  --background-color-two: #ffffff;
  --background-color-three: #f5f4fa;
  --hover-color-one: #188ce8;
  --icon-color-one: #AFB1B8;
  --items: 3;
  --indent: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: currentColor;
  align-content: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  margin-right: auto;
}

.logo,
.footer-logo {
  text-transform: capitalize;
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.head-logo-part {
  text-transform: capitalize;
  color: var(--font-color-one);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
}
.header-nav {
  display: flex;
}
.logo {
  margin-right: 93px;
  display: flex;
  align-items: center;
}

.header-list {
  color: var(--font-color-one);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

li > .current {
  color: var(--brand-color);
  position:relative;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1.5%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}


.header-link {
  color: var(--font-color-one);
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}

.header-contact {
  color: var(--font-color-two);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--font-color-two);
}

.header-link,
.header-link,
.header-contact,
.header-contact,
.footer-map,
.footer-map,
.footer-contact,
.footer-contact {
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.footer-map:hover,
.footer-map:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.title-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/title-overlay.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color-one);
  padding: 200px 0 200px 0;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-two);
  min-heght: 120px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn {
  width: 200px;
  min-height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color-two);
  background-color: var(--brand-color);
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color-one);
}
.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-three);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  display: flex;
  gap: 30px;
}
.features-list {
  width: 270px;
}

.button-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.header-list,
.button-list,
.features,
.business,
.team,
.footer-list,
.button-list,
.projects {
  list-style-type: none;
}

.features-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--font-color-one);
  margin-bottom: 9.41px;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--font-color-two);
}

.business-section {
  background-color: var(--background-color-two);
  padding-bottom: 94px;
}
.customer-title,
.business-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--font-color-one);
  margin-bottom: 50px;
}

.business,
.team {
  display: flex;
  gap: 30px;
}
.team-section {
  background-color: var(--background-color-three);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  background-color: var(--background-color-two);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding: 30px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--font-color-one);
  margin-bottom: 10px;
}

.job-title {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--font-color-two);
  margin-bottom: 15px;
}
.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
    gap:10px;
}
.social-link {
  display: flex;
justify-content: center;
align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: transparent;
  fill: var(--icon-color-one);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-social-link:hover,
.footer-social-link:focus,
.social-link:hover,
.social-link:focus {
fill: var(--background-color-two);
background-color: var(--brand-color);
}

.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   outline: 1px solid var(--icon-color-one);
   fill: var(--icon-color-one);

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  fill:var(--brand-color);
  outline: 1px solid var(--brand-color);
}


.customer-list {
  
  display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.footer {
  background-color: var(--background-color-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 9px;
}
.footer-elements {
   display: flex;
align-items: baseline;
gap: 70px;
}

.footer-logo-part {
  text-transform: capitalize;
  color: var(--background-color-two);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
}

.footer-map {
  display: inline-block;
  width: 235px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--background-color-two);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--font-color-three);
}

.footer-text:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
display: flex;
flex-direction: column;
gap: 20px;
width:206px;
}

.footer-social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.footer-social-text {
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;}

.footer-social-link {
  display: flex;
justify-content: center;
align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color-two);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btn {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-color-two);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.overlay-description {
display: inline-block;
width:322px;
font-size: 18px;
line-height: 1.5;
color: var(--background-color-two);
padding-top: 63px;
margin-left: 24px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  /*gap: 30px;*/
  padding: 0;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project-link {
  display: block;

}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0px);
}

.project-item {
  background: #ffffff;
  /*flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));*/
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color-one);
  margin-bottom: 4px;
}

.product {
  font-size: 16px;
  line-height: 1.8;
  color: var(--font-color-two);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: visibility 400ms, opacity 400ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background-color: var(--background-color-two);

  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14), 3px 0px 1px rgba(0, 0, 0, 0.12);
}

.modal-btn {
position: absolute;
top: 10px;
right: 10px;

height: 30px;
width: 30px;
display: flex;
align-items: center;
justify-content: center;

padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: var(--background-color-two);
border-radius: 50%;
cursor: pointer;
}
